In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [7]:
dataset["classification_yes"].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [9]:
independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [10]:
dependent=dataset[['classification_yes']]
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [11]:
independent.shape

(399, 27)

In [12]:
dependent.shape

(399, 1)

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)
x_train,x_test,y_train,y_test

(      age     bp   al   su    bgr     bu    sc    sod  pot       hrmo  ...  \
 92   41.0   80.0  1.0  4.0  210.0  165.0  18.0  135.0  4.7  12.518156  ...
 223  57.0   80.0  0.0  0.0  133.0   48.0   1.2  147.0  4.3  14.800000  ...
 234  59.0  100.0  4.0  2.0  255.0  132.0  12.8  135.0  5.7   7.300000  ...
 232  59.0   70.0  0.0  0.0  204.0   34.0   1.5  124.0  4.1   9.800000  ...
 336  70.0   80.0  0.0  0.0  158.0   85.0   3.2  141.0  3.5  10.100000  ...
 ..    ...    ...  ...  ...    ...    ...   ...    ...  ...        ...  ...
 323  68.0   70.0  0.0  0.0   98.0   86.0   4.6  135.0  3.4   9.800000  ...
 192  54.0   90.0  1.0  0.0  150.0   18.0   1.2  140.0  4.2  12.518156  ...
 117  45.0   80.0  0.0  0.0  107.0   15.0   1.0  141.0  4.2  11.800000  ...
 47   30.0   80.0  0.0  0.0   89.0   42.0   0.5  139.0  5.0  16.700000  ...
 172  51.0   60.0  0.0  0.0  129.0   25.0   1.2  139.0  5.0  17.200000  ...

      rbc_normal  pc_normal  pcc_present  ba_present  htn_yes  dm_yes  cad_yes  \
 92            0          1            0           0        0       1        0
 223           1          1            0           0        0       0        0
 234           1          1            0           0        1       1        1
 232           1          1            0           0        0       1        0
 336           1          1            0           0        1       0        0
 ..          ...        ...          ...         ...      ...     ...      ...
 323           1          1            0           0        1       1        1
 192           1          0            0           0        0       0        0
 117           1          0            0           0        0       0        0
 47            1          1            0           0        0       0        0
 172           1          1            0           0        0       0        0

      appet_yes  pe_yes  ane_yes
 92           1       0        0
 223          1       0        0
 234          1       0        1
 232          1       0        0
 336          1       1        0
 ..         ...     ...      ...
 323          0       1        0
 192          0       1        1
 117          1       0        0
 47           1       0        0
 172          1       0        0

 [279 rows x 27 columns],
       age     bp   al   su         bgr     bu    sc         sod       pot  \
 132  46.0   70.0  0.0  0.0  100.000000   47.0   0.5  142.000000  3.500000
 309  66.0   90.0  2.0  0.0  153.000000   76.0   3.3  137.528754  4.627244
 334  69.0   70.0  0.0  0.0   83.000000   42.0   1.2  139.000000  3.700000
 196  55.0  100.0  1.0  4.0  297.000000   53.0   2.8  139.000000  4.500000
 246  60.0   90.0  2.0  0.0  105.000000   53.0   2.3  136.000000  5.200000
 ..    ...    ...  ...  ...         ...    ...   ...         ...       ...
 216  57.0   90.0  5.0  0.0  148.112676  322.0  13.0  126.000000  4.800000
 259  61.0   60.0  0.0  0.0  108.000000   75.0   1.9  141.000000  5.200000
 49   30.0   60.0  0.0  0.0  120.000000   31.0   0.8  150.000000  4.600000
 238  59.0   60.0  0.0  0.0  113.000000   23.0   1.1  139.000000  3.500000
 342  70.0   60.0  0.0  0.0  120.000000   40.0   0.5  140.000000  4.600000

           hrmo  ...  rbc_normal  pc_normal  pcc_present  ba_present  htn_yes  \
 132  16.400000  ...           1          1            0           0        0
 309  12.518156  ...           1          1            0           1        0
 334  16.200000  ...           1          1            0           0        0
 196  11.200000  ...           1          1            0           0        1
 246  11.100000  ...           0          1            0           0        0
 ..         ...  ...         ...        ...          ...         ...      ...
 216   8.000000  ...           0          0            0           1        1
 259   9.900000  ...           1          1            0           0        1
 49   13.400000  ...           1          1            0           0        0
 238  15.300000  ...           1          1            0           0        0
 342  16.000000  ...           1          1            0           0        0

      dm_yes  cad_yes  appet_yes  pe_yes  ane_yes
 132       0        0          1       0        0
 309       0        0          0       0        0
 334       0        0          1       0        0
 196       1        0          1       0        0
 246       0        0          1       0        0
 ..      ...      ...        ...     ...      ...
 216       1        1          0       1        1
 259       1        0          1       0        1
 49        0        0          1       0        0
 238       0        0          1       0        0
 342       0        0          1       0        0

 [120 rows x 27 columns],
      classification_yes
 92                    1
 223                   0
 234                   1
 232                   1
 336                   1
 ..                  ...
 323                   1
 192                   1
 117                   1
 47                    0
 172                   0

 [279 rows x 1 columns],
      classification_yes
 132                   0
 309                   1
 334                   0
 196                   1
 246                   1
 ..                  ...
 216                   1
 259                   1
 49                    0
 238                   0
 342                   0

 [120 rows x 1 columns])

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)
x_train

array([[-0.67992978,  0.26534721,  0.13647691, ...,  0.50671171,
        -0.51229234, -0.43852901],
       [ 0.30730707,  0.26534721, -0.67367325, ...,  0.50671171,
        -0.51229234, -0.43852901],
       [ 0.43071168,  1.80469462,  2.56692738, ...,  0.50671171,
        -0.51229234,  2.28035085],
       ...,
       [-0.43312057,  0.26534721, -0.67367325, ...,  0.50671171,
        -0.51229234, -0.43852901],
       [-1.35865512,  0.26534721, -0.67367325, ...,  0.50671171,
        -0.51229234, -0.43852901],
       [-0.06290675, -1.2740002 , -0.67367325, ...,  0.50671171,
        -0.51229234, -0.43852901]])

In [15]:
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]} 



grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 

grid.fit(x_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\Go\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             scoring='f1_weighted', verbose=3)

In [16]:
result=grid.cv_results_
#print(result)

y_pred = grid.predict(x_test)
#print(y_pred)
   
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
#print(cm)

from sklearn.metrics import classification_report

clf_report = classification_report(y_test, y_pred)

#print(clf_report)

In [17]:
from sklearn.metrics import f1_score

f1_macro=f1_score(y_test,y_pred,average='weighted')

print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'gini', 'max_features': 'log2', 'n_estimators': 10}: 0.9833333333333335

In [18]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[44  1]
 [ 1 74]]

In [19]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.98      0.98      0.98        45
           1       0.99      0.99      0.99        75

    accuracy                           0.98       120
   macro avg       0.98      0.98      0.98       120
weighted avg       0.98      0.98      0.98       120

In [20]:
#AUC ROC stands for “Area Under the Curve” of the “Receiver Operating Characteristic” curve. 
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

0.9995555555555555

In [21]:
table=pd.DataFrame.from_dict(result)

table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.026127,0.008821,0.010176,0.006794,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",0.964572,0.982221,0.929513,0.946663,0.981728,0.960939,0.020444,12
1,0.173100,0.008829,0.021215,0.002160,gini,auto,100,"{'criterion': 'gini', 'max_features': 'auto', ...",1.000000,0.963889,0.947015,0.964286,1.000000,0.975038,0.021314,6
2,0.025817,0.002805,0.004604,0.000735,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.982221,0.963889,0.947015,0.964286,0.981728,0.967828,0.013127,10
3,0.183332,0.010365,0.017683,0.002638,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",1.000000,0.945469,0.947015,0.982051,0.981728,0.971253,0.021471,8
4,0.025022,0.002467,0.004103,0.000200,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",1.000000,0.982051,0.964572,0.964286,1.000000,0.982182,0.015908,1
5,0.163790,0.010060,0.023199,0.007686,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",1.000000,0.945469,0.947015,0.964286,0.981728,0.967700,0.020851,11
6,0.027179,0.006061,0.005795,0.005913,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",0.964572,0.945469,1.000000,0.982051,1.000000,0.978418,0.021081,3
7,0.166711,0.015341,0.027947,0.006339,entropy,auto,100,"{'criterion': 'entropy', 'max_features': 'auto...",1.000000,0.963889,0.929513,0.982051,1.000000,0.975090,0.026428,4
8,0.025618,0.001986,0.005104,0.001716,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",1.000000,0.982051,0.929513,0.964286,0.981728,0.971515,0.023846,7
9,0.166665,0.012269,0.024565,0.007273,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",1.000000,0.963889,0.947015,0.982051,1.000000,0.978591,0.020697,2
10,0.025896,0.003747,0.004403,0.000374,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",1.000000,0.963889,0.929513,0.982051,1.000000,0.975090,0.026428,4
11,0.158143,0.009310,0.014758,0.003606,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",1.000000,0.945469,0.947015,0.982051,0.981728,0.971253,0.021471,8