In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [7]:
dataset["classification_yes"].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [8]:
independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [9]:
dependent=dataset[['classification_yes']]
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [10]:
independent.shape

(399, 27)

In [11]:
dependent.shape

(399, 1)

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)
x_train,x_test,y_train,y_test

(      age     bp   al   su    bgr     bu    sc    sod  pot       hrmo  ...  \
 92   41.0   80.0  1.0  4.0  210.0  165.0  18.0  135.0  4.7  12.518156  ...
 223  57.0   80.0  0.0  0.0  133.0   48.0   1.2  147.0  4.3  14.800000  ...
 234  59.0  100.0  4.0  2.0  255.0  132.0  12.8  135.0  5.7   7.300000  ...
 232  59.0   70.0  0.0  0.0  204.0   34.0   1.5  124.0  4.1   9.800000  ...
 336  70.0   80.0  0.0  0.0  158.0   85.0   3.2  141.0  3.5  10.100000  ...
 ..    ...    ...  ...  ...    ...    ...   ...    ...  ...        ...  ...
 323  68.0   70.0  0.0  0.0   98.0   86.0   4.6  135.0  3.4   9.800000  ...
 192  54.0   90.0  1.0  0.0  150.0   18.0   1.2  140.0  4.2  12.518156  ...
 117  45.0   80.0  0.0  0.0  107.0   15.0   1.0  141.0  4.2  11.800000  ...
 47   30.0   80.0  0.0  0.0   89.0   42.0   0.5  139.0  5.0  16.700000  ...
 172  51.0   60.0  0.0  0.0  129.0   25.0   1.2  139.0  5.0  17.200000  ...

      rbc_normal  pc_normal  pcc_present  ba_present  htn_yes  dm_yes  cad_yes  \
 92            0          1            0           0        0       1        0
 223           1          1            0           0        0       0        0
 234           1          1            0           0        1       1        1
 232           1          1            0           0        0       1        0
 336           1          1            0           0        1       0        0
 ..          ...        ...          ...         ...      ...     ...      ...
 323           1          1            0           0        1       1        1
 192           1          0            0           0        0       0        0
 117           1          0            0           0        0       0        0
 47            1          1            0           0        0       0        0
 172           1          1            0           0        0       0        0

      appet_yes  pe_yes  ane_yes
 92           1       0        0
 223          1       0        0
 234          1       0        1
 232          1       0        0
 336          1       1        0
 ..         ...     ...      ...
 323          0       1        0
 192          0       1        1
 117          1       0        0
 47           1       0        0
 172          1       0        0

 [279 rows x 27 columns],
       age     bp   al   su         bgr     bu    sc         sod       pot  \
 132  46.0   70.0  0.0  0.0  100.000000   47.0   0.5  142.000000  3.500000
 309  66.0   90.0  2.0  0.0  153.000000   76.0   3.3  137.528754  4.627244
 334  69.0   70.0  0.0  0.0   83.000000   42.0   1.2  139.000000  3.700000
 196  55.0  100.0  1.0  4.0  297.000000   53.0   2.8  139.000000  4.500000
 246  60.0   90.0  2.0  0.0  105.000000   53.0   2.3  136.000000  5.200000
 ..    ...    ...  ...  ...         ...    ...   ...         ...       ...
 216  57.0   90.0  5.0  0.0  148.112676  322.0  13.0  126.000000  4.800000
 259  61.0   60.0  0.0  0.0  108.000000   75.0   1.9  141.000000  5.200000
 49   30.0   60.0  0.0  0.0  120.000000   31.0   0.8  150.000000  4.600000
 238  59.0   60.0  0.0  0.0  113.000000   23.0   1.1  139.000000  3.500000
 342  70.0   60.0  0.0  0.0  120.000000   40.0   0.5  140.000000  4.600000

           hrmo  ...  rbc_normal  pc_normal  pcc_present  ba_present  htn_yes  \
 132  16.400000  ...           1          1            0           0        0
 309  12.518156  ...           1          1            0           1        0
 334  16.200000  ...           1          1            0           0        0
 196  11.200000  ...           1          1            0           0        1
 246  11.100000  ...           0          1            0           0        0
 ..         ...  ...         ...        ...          ...         ...      ...
 216   8.000000  ...           0          0            0           1        1
 259   9.900000  ...           1          1            0           0        1
 49   13.400000  ...           1          1            0           0        0
 238  15.300000  ...           1          1            0           0        0
 342  16.000000  ...           1          1            0           0        0

      dm_yes  cad_yes  appet_yes  pe_yes  ane_yes
 132       0        0          1       0        0
 309       0        0          0       0        0
 334       0        0          1       0        0
 196       1        0          1       0        0
 246       0        0          1       0        0
 ..      ...      ...        ...     ...      ...
 216       1        1          0       1        1
 259       1        0          1       0        1
 49        0        0          1       0        0
 238       0        0          1       0        0
 342       0        0          1       0        0

 [120 rows x 27 columns],
      classification_yes
 92                    1
 223                   0
 234                   1
 232                   1
 336                   1
 ..                  ...
 323                   1
 192                   1
 117                   1
 47                    0
 172                   0

 [279 rows x 1 columns],
      classification_yes
 132                   0
 309                   1
 334                   0
 196                   1
 246                   1
 ..                  ...
 216                   1
 259                   1
 49                    0
 238                   0
 342                   0

 [120 rows x 1 columns])

In [13]:
from sklearn.preprocessing import StandardScaler
scx=StandardScaler()
x_train=scx.fit_transform(x_train)
x_test=scx.transform(x_test)

In [14]:
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import GridSearchCV

param_grid = {'n_neighbors':[1,5,7,10],
              'metric':['minkowski'],
              'weights':['uniform', 'distance'],
              'algorithm':['auto', 'ball_tree', 'kd_tree', 'brute'],
              'p':[2]
             } 



grid = GridSearchCV(KNeighborsClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 

grid.fit(x_train, y_train)

Fitting 5 folds for each of 32 candidates, totalling 160 fits

C:\Users\Go\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

GridSearchCV(estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
                         'metric': ['minkowski'], 'n_neighbors': [1, 5, 7, 10],
                         'p': [2], 'weights': ['uniform', 'distance']},
             scoring='f1_weighted', verbose=3)

In [15]:
result=grid.cv_results_
#print(result)

y_pred = grid.predict(x_test)
#print(y_pred)
   
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
#print(cm)

from sklearn.metrics import classification_report

clf_report = classification_report(y_test, y_pred)

#print(clf_report)

In [16]:
from sklearn.metrics import f1_score

f1_macro=f1_score(y_test,y_pred,average='weighted')

print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'algorithm': 'auto', 'metric': 'minkowski', 'n_neighbors': 1, 'p': 2, 'weights': 'uniform'}: 0.9834018801410106

In [17]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[45  0]
 [ 2 73]]

In [18]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.96      1.00      0.98        45
           1       1.00      0.97      0.99        75

    accuracy                           0.98       120
   macro avg       0.98      0.99      0.98       120
weighted avg       0.98      0.98      0.98       120

In [19]:
#AUC ROC stands for “Area Under the Curve” of the “Receiver Operating Characteristic” curve. 
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

0.9866666666666667

In [20]:
table=pd.DataFrame.from_dict(result)

table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_algorithm,param_metric,param_n_neighbors,param_p,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.028128,0.011695,0.063767,0.014843,auto,minkowski,1,2,uniform,"{'algorithm': 'auto', 'metric': 'minkowski', '...",0.982221,1.000000,0.964572,0.982221,1.000000,0.985803,0.013263,1
1,0.007527,0.004650,0.005615,0.002751,auto,minkowski,1,2,distance,"{'algorithm': 'auto', 'metric': 'minkowski', '...",0.982221,1.000000,0.964572,0.982221,1.000000,0.985803,0.013263,1
2,0.007403,0.000863,0.013108,0.008517,auto,minkowski,5,2,uniform,"{'algorithm': 'auto', 'metric': 'minkowski', '...",0.964572,0.964572,0.929513,0.964572,0.963912,0.957428,0.013960,13
3,0.006606,0.000203,0.004002,0.000317,auto,minkowski,5,2,distance,"{'algorithm': 'auto', 'metric': 'minkowski', '...",0.964572,0.982221,0.929513,0.964572,0.963912,0.960958,0.017180,9
4,0.009407,0.001961,0.010207,0.002041,auto,minkowski,7,2,uniform,"{'algorithm': 'auto', 'metric': 'minkowski', '...",0.964572,0.947015,0.929513,0.964572,0.963912,0.953917,0.013930,17
5,0.009106,0.005723,0.004604,0.000971,auto,minkowski,7,2,distance,"{'algorithm': 'auto', 'metric': 'minkowski', '...",0.964572,0.947015,0.929513,0.964572,0.963912,0.953917,0.013930,17
6,0.008105,0.001687,0.010208,0.005413,auto,minkowski,10,2,uniform,"{'algorithm': 'auto', 'metric': 'minkowski', '...",0.894531,0.894531,0.929513,0.964572,0.963912,0.929412,0.031176,29
7,0.009908,0.005620,0.004804,0.001031,auto,minkowski,10,2,distance,"{'algorithm': 'auto', 'metric': 'minkowski', '...",0.964572,0.929513,0.929513,0.964572,0.963912,0.950416,0.017070,25
8,0.009307,0.000978,0.022114,0.016248,ball_tree,minkowski,1,2,uniform,"{'algorithm': 'ball_tree', 'metric': 'minkowsk...",0.982221,1.000000,0.964572,0.982221,1.000000,0.985803,0.013263,1
9,0.008507,0.001049,0.004803,0.000679,ball_tree,minkowski,1,2,distance,"{'algorithm': 'ball_tree', 'metric': 'minkowsk...",0.982221,1.000000,0.964572,0.982221,1.000000,0.985803,0.013263,1
10,0.008306,0.000400,0.008905,0.000375,ball_tree,minkowski,5,2,uniform,"{'algorithm': 'ball_tree', 'metric': 'minkowsk...",0.964572,0.964572,0.929513,0.964572,0.963912,0.957428,0.013960,13
11,0.007706,0.001289,0.006004,0.002795,ball_tree,minkowski,5,2,distance,"{'algorithm': 'ball_tree', 'metric': 'minkowsk...",0.964572,0.982221,0.929513,0.964572,0.963912,0.960958,0.017180,9
12,0.008506,0.000708,0.008605,0.000583,ball_tree,minkowski,7,2,uniform,"{'algorithm': 'ball_tree', 'metric': 'minkowsk...",0.964572,0.947015,0.929513,0.964572,0.963912,0.953917,0.013930,17
13,0.009807,0.001632,0.004404,0.000199,ball_tree,minkowski,7,2,distance,"{'algorithm': 'ball_tree', 'metric': 'minkowsk...",0.964572,0.947015,0.929513,0.964572,0.963912,0.953917,0.013930,17
14,0.008506,0.001000,0.008205,0.000680,ball_tree,minkowski,10,2,uniform,"{'algorithm': 'ball_tree', 'metric': 'minkowsk...",0.894531,0.894531,0.929513,0.964572,0.963912,0.929412,0.031176,29
15,0.007305,0.000678,0.004403,0.000375,ball_tree,minkowski,10,2,distance,"{'algorithm': 'ball_tree', 'metric': 'minkowsk...",0.964572,0.929513,0.929513,0.964572,0.963912,0.950416,0.017070,25
16,0.009407,0.001828,0.008106,0.001242,kd_tree,minkowski,1,2,uniform,"{'algorithm': 'kd_tree', 'metric': 'minkowski'...",0.982221,1.000000,0.964572,0.982221,1.000000,0.985803,0.013263,1
17,0.008506,0.000548,0.004602,0.000584,kd_tree,minkowski,1,2,distance,"{'algorithm': 'kd_tree', 'metric': 'minkowski'...",0.982221,1.000000,0.964572,0.982221,1.000000,0.985803,0.013263,1
18,0.011308,0.002113,0.007807,0.000245,kd_tree,minkowski,5,2,uniform,"{'algorithm': 'kd_tree', 'metric': 'minkowski'...",0.964572,0.964572,0.929513,0.964572,0.963912,0.957428,0.013960,13
19,0.009607,0.000860,0.004603,0.000201,kd_tree,minkowski,5,2,distance,"{'algorithm': 'kd_tree', 'metric': 'minkowski'...",0.964572,0.982221,0.929513,0.964572,0.963912,0.960958,0.017180,9
20,0.009708,0.001365,0.009606,0.000970,kd_tree,minkowski,7,2,uniform,"{'algorithm': 'kd_tree', 'metric': 'minkowski'...",0.964572,0.947015,0.929513,0.964572,0.963912,0.953917,0.013930,17
21,0.011508,0.002170,0.004804,0.000602,kd_tree,minkowski,7,2,distance,"{'algorithm': 'kd_tree', 'metric': 'minkowski'...",0.964572,0.947015,0.929513,0.964572,0.963912,0.953917,0.013930,17
22,0.010106,0.001242,0.008605,0.000491,kd_tree,minkowski,10,2,uniform,"{'algorithm': 'kd_tree', 'metric': 'minkowski'...",0.894531,0.894531,0.929513,0.964572,0.963912,0.929412,0.031176,29
23,0.009007,0.001050,0.004802,0.000511,kd_tree,minkowski,10,2,distance,"{'algorithm': 'kd_tree', 'metric': 'minkowski'...",0.964572,0.929513,0.929513,0.964572,0.963912,0.950416,0.017070,25
24,0.007104,0.000971,0.007106,0.000490,brute,minkowski,1,2,uniform,"{'algorithm': 'brute', 'metric': 'minkowski', ...",0.982221,1.000000,0.964572,0.982221,1.000000,0.985803,0.013263,1
25,0.008005,0.001049,0.004404,0.000665,brute,minkowski,1,2,distance,"{'algorithm': 'brute', 'metric': 'minkowski', ...",0.982221,1.000000,0.964572,0.982221,1.000000,0.985803,0.013263,1
26,0.008106,0.000374,0.008205,0.001077,brute,minkowski,5,2,uniform,"{'algorithm': 'brute', 'metric': 'minkowski', ...",0.964572,0.964572,0.929513,0.964572,0.963912,0.957428,0.013960,13
27,0.007105,0.000490,0.004204,0.000245,brute,minkowski,5,2,distance,"{'algorithm': 'brute', 'metric': 'minkowski', ...",0.964572,0.982221,0.929513,0.964572,0.963912,0.960958,0.017180,9
28,0.007606,0.000583,0.008205,0.000982,brute,minkowski,7,2,uniform,"{'algorithm': 'brute', 'metric': 'minkowski', ...",0.964572,0.947015,0.929513,0.964572,0.963912,0.953917,0.013930,17
29,0.007706,0.000813,0.004603,0.000861,brute,minkowski,7,2,distance,"{'algorithm': 'brute', 'metric': 'minkowski', ...",0.964572,0.947015,0.929513,0.964572,0.963912,0.953917,0.013930,17
30,0.006403,0.000861,0.007505,0.000838,brute,minkowski,10,2,uniform,"{'algorithm': 'brute', 'metric': 'minkowski', ...",0.894531,0.894531,0.929513,0.964572,0.963912,0.929412,0.031176,29
31,0.007405,0.000584,0.004604,0.000583,brute,minkowski,10,2,distance,"{'algorithm': 'brute', 'metric': 'minkowski', ...",0.964572,0.929513,0.929513,0.964572,0.963912,0.950416,0.017070,25